.navbar {
    background-color: #ffffff !important;
}


.navbar .navbar-brand,
.navbar .nav-link,
.navbar .dropdown-item {
    color: #333 !important;
    font-weight: bold !important;
}

.navbar .dropdown-menu {
    background-color: #ffffff;
}

.navbar .dropdown-item:hover {
    background-color: #f8f9fa;
}

.form-control {
    background-color: #ffffff !important;
    color: #333 !important;
    border: 1px solid #ccc !important;
    font-weight: bold !important;
}

.btn-outline-light {
    color: #333 !important;
    border-color: #333 !important;
    font-weight: bold !important;
}

.blue {
    background-color: #005C97;
    height: 800px;
    margin-top: 0px;

}
.form-control{
    background-color: #F5F5F5;
} ont-weight: bold !important;

